body {
  font-family: $muli;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $merri;
}

.heading-primary {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 600;
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: $muli;
  font-weight: 400;
}

.heading-form {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: $muli;
  font-weight: 800;
}

.paragraph {
  font-size: 1.5rem;
  font-family: $muli;
  font-weight: 300;
  color: $grey-light;
}

.title-page {
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: 90%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 6rem;
  color: $grey-light;
  opacity: 0.3;
}
