.block {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 0.8rem;
  }

  &__box {
    flex-grow: 1;

    @include responsive(tablet) {
      visibility: hidden;
    }

    @include responsive(small-mobile) {
      display: none;
    }
  }

  &__layer {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 0.1rem;
    }

    span {
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      background: $grey-light;
      margin-right: 0.1rem;
    }
  }

  &--active &__layer {
    span {
      background: $pink-color;
    }
  }

  &__two-three--long .layer > span:last-child {
    width: 30px;
  }

  &--two-two-long &__layer {
    span:last-child {
      width: 1.5rem;
    }
  }

  &:hover &__layer {
    span {
      background: $pink-color;
    }
  }
}
