.sale {
  background-color: #f5f5f5;
  padding: 5rem 0;
  position: relative;

  &__book-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    font-family: $merri;
    font-size: 1.8rem;
    color: $grey-light;

    @include responsive(large-mobile) {
      justify-content: flex-start;
      overflow: scroll hidden;
      margin-top: 2rem;
    }
  }

  &__book-type {
    padding: 0 1.5rem 2rem;
    border-bottom: 1px solid hsla(0, 0%, 56%, 0.25);

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }

    @include responsive(large-mobile) {
      white-space: nowrap;
    }
  }

  &__book-link {
    position: relative;
    text-transform: capitalize;

    &:hover::after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      margin-top: 2rem;
      border-bottom: 2px solid $pink-color;
      box-shadow: 0 2px 5px 0 rgba(248, 109, 114, 0.75);
    }

    &--active {
      color: $pink-color;

      &::after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        margin-top: 2rem;
        border-bottom: 2px solid $pink-color;
        box-shadow: 0 2px 5px 0 rgba(248, 109, 114, 0.75);
      }
    }
  }

  &__carousel {
    width: 100%;

    .slick-track {
      margin: 0;
    }

    .slick-list {
      padding-bottom: 5rem;
    }
  }
}
