.section-breadcumb {
  background: url(../images/Breadcumd.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  min-height: 25rem;
  text-align: center;
}

.section-contact {
  margin: 10rem 0;
}

.section-email {
  margin-bottom: 10rem;
}
