/* FOOTER */
.footer {
  &__wrap {
    @include responsive(large-mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__top {
    font-size: 1.6rem;
    color: $grey-text;
    border-bottom: 1px solid hsla(0, 0%, 67%, 0.25);
    background-color: $light-gray-color;
  }

  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2rem 0;
    border-bottom: 1px solid hsla(0, 0%, 67%, 0.25);
    position: relative;
    color: black;
    margin-bottom: 3rem;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      border-top: 2px solid #f86d72;
      width: 5rem;
    }
  }

  &__address {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__icon {
    font-size: 1.9rem;
    margin-right: 2rem;
  }

  &__link {
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  &__time-work {
    text-transform: capitalize;
    color: $pink-color;
  }

  &__social {
    i {
      margin-right: 2rem;
    }
  }

  &__copy-info {
    font-size: 1.4rem;
    color: $grey-text;

    @include responsive(large-mobile) {
      margin-bottom: 1rem;
    }
  }

  &__author {
    color: $pink-color;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 2rem;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $pink-color;
      transition: all 0.8s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.instagram {
  &__container {
    padding-right: 2rem;
  }

  &__anchor {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(43, 43, 43, 0.4);
      top: 0;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
    }

    &::after {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) scale(0);
      display: block;
      content: "\f16d";
      font-family: FontAwesome;
      font-size: 2.4rem;
      color: #fff;
      text-align: center;
      z-index: 10;
      transition: 0.5s;
    }

    img {
      transition: 0.5s;
    }

    &:hover {
      img {
        transform: scale(1.3);
      }

      &::before {
        opacity: 1;
        visibility: visible;
      }

      &::after {
        transform: translateY(-50%) scale(1);
      }
    }
  }
}
